chainmap
cherrypy==11.2.0
librosa==0.10.0
Flask==2.2.5
numpy==1.21.5
Pillow==9.0.1
PyAudio==0.2.13
PyOpenGL==3.1.7
PyOpenGL_accelerate==3.1.7
pyttsx3==2.6
requests
SpeechRecognition==3.7.1
tqdm
git+https://github.com/daemon/pytorch-pcen
